*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #131313;
	background-image: url(/img/background-pizza.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	width:100%;
}

#banner {
	background-color: rgba(0,0,0,0.5);
	height: 76px;
	padding: 30px 70px 30px 70px;
}

#banner h1 {
	float: left;
	margin: 0px;
}

#banner nav {
	float: right;
	top: 20px;
	position:relative;
}

#banner nav ul li {
	display: inline-block;
	width: 100px;
	text-align: center;
}

#banner nav ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	font-family: "Helvetica", sans-serif;
	text-align: center;
}

#vantagens ul {
    list-style: none;
    margin: 50px 0 252px 0;
}

#vantagens ul li {
    font-family: 'Reenie Beanie', cursive;
    color: #fff;
    font-size: 2em;
    margin: 5px;
}

#vantagens ul li::before {
  content: "\00b0 ";
  color: #fbcb39;
  font-family: sans-serif;
  font-size: 1em;
  vertical-align: bottom;
  margin: 25px 10px 0 10px;
}

#sabores {
	padding: 30px 72px 0 72px;
}

#sabores h2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Helvetica", sans-serif;
	line-height: 2;
	text-shadow: 4px 4px 20px #060606;
	background-color: rgba(3, 3, 3, 0);
}

#sabores table {
	border-collapse: collapse;
	margin-bottom: 50px;
	width:100%;
	background-color: #333;
	padding: 0px;
}

#sabores table td,
#sabores table th {
	border: 1px black solid;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	padding: 15px;
	font-size: 12px;
}

#sabores .texto-negativo {
	color: #fb3958;
}

#sabores .texto-positivo {
	color: #87b50f;
}

#conteiner {
	text-align: center;
	padding: 0 72px 0 72px;

}

div h2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Helvetica", sans-serif;
	line-height: 2;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: 4px 4px 20px #060606;
	width: 150px;
	background-color: rgba(3, 3, 3, 0.5);
	border-radius: 20px;
}

form input, form textarea{
	border: 1px solid #7a7a7a;
	border-radius: 20px;
	padding: 25px 25px;
}

form input[type="submit"] {
	height: 40px;
	width: 296px;
    margin: 25px 0;
	padding: 0px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0);
}

#menu-pedidos form table a:first-child{
	padding: 4px 8.5px;
}

#menu-pedidos form table a {
	cursor: pointer;
	border: 1.3px solid #fff;
	padding: 4px 7px;
	border-radius: 50%;
}

#menu-pedidos form table th, td {
	text-align: center;
	padding: 25px;
	width: 20%;
}

#menu-pedidos form table input {
	text-align: center;
	border: none;
	display: inline;
	width: 30px;
	padding: 5px 0px;
	margin-left: 15px;
}

form input {	
	width: 396px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 16px;
	padding: 10px;
}

form label {
	display: block;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	margin-right: 300px;
}

form textarea {
	padding: 10px;
	height: 200px;
	width: 396px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 16px;
	text-align: initial;
}

#menu-pedidos table {
	border-collapse: collapse;
	margin-bottom: 50px;
	width: 50%;
	height: 50%;
	background-color: #333;
	border-radius: 20px;
	margin: 0 25%;
}

div table td,
div table th {
	color: #fff;
	text-transform: uppercase;
	font-family: "Helvetica", sans-serif;
	padding: 15px;
	font-size: 12px;
}

footer {
	padding: 20px 0px 10px 0px;
	background-color: #060606;
}

footer a {
	width: 304px;
    background-size: 304px 72px;
    background-repeat: no-repeat;
    display: block;
    margin: 0px auto;
}

footer p {
	color: #fff;
	text-align: center;
	font-family: "Helvetica", sans-serif;
}